

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(253, 251, 251);
}

#navbar {

    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: #186F65;
    position: fixed;
    z-index: 1;
}

#cabecalho {

    display: flex;
    top: 0px;
    position: fixed;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    background-color: #186F65;
    z-index: 1;
}

#titulo {
    text-align: center;
    margin:15 0 15 0;
    font-family: 'Comfortaa', sans-serif;
    font-size: 3rem;
    color: #F4B0C7;
}

#tabela {
    width: 20rem;
    border: 3px solid #186F65;
    padding: 10px;
    background-color: rgb(240,248,255);
    margin: 30px;
    position: absolute;
    left: 30px;
}

th, td {
    border: 1px solid #186F65;
    padding: 15px 15px 15px 15px;
}

#conteudo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 10rem;
    padding-top: 60px;
    width: 85%;
    font-family:'Gabarito', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 60%;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 20px;
}

#minha_foto {
    height: 30rem;
    width: auto;
    border-radius: 4px;
    padding: 5px 5px 0px 5px;
}

#container_listas {

    display: flex;
    border: 1px solid #186F65;
    border-radius: 10px;
    align-items: center;
    flex-direction: row;
    color: #20262E;
    padding: 15px;
    margin-top: 10rem;
}

.conteudo_legenda {
    font-size: 12px;
    margin-top: 0px;
}

#container_texto {
    display: flex;
    color: #632626;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.lado-esquerdo {
    float: left;
}

.lado-direito {
    float:right;
}

#rodape {
    position: fixed;
    bottom: 0px;
    font-family:'Gabarito', sans-serif;
    background-color:#186F65;
    text-decoration: none;
    width: 100%;
    z-index: 1;
}

@media (max-width: 1500px) {

    body {

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;
        background-color: rgb(253, 251, 251);
    }

    #tabela {
        position: relative;
        margin-bottom: 30px;
    }

    #container {
        position: relative;
        flex-direction: column;
        width: 95%;
    }

    #container_listas {

        display: flex;
        border: 1px solid #186F65;
        border-radius: 10px;
        align-items: center;
        flex-direction: column; /* Altere para uma coluna em telas menores */
        color: #20262E;
        padding: 15px;
        width: 100%; /* Largura total */
        padding-top: 12rem; /* Espaçamento acima suficiente para evitar o corte */
        position:sticky;
    }
    
}


@media (max-width: 800px) {


    #cabecalho {
        height: 9rem;
    }

    #titulo {
        font-size: 2rem;
    }

    #minha_foto {
        height: 20rem;
        width: auto;
    }
}